<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
	<!-- Gestion utilisateur-->
	<div th:fragment="stockforms">
		<div class="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
					<li class="breadcrumb-item active">Stocks</li>
				</ol>
				<!-- mESSAGE ok -->
				<div class="alert alert-success"
					th:if="${not #strings.isEmpty(varMsg)}">
					<p th:text="${varMsg}"></p>
				</div>
				<p>Consulter:</p><br>
				<div class="btn-group-vertical col-sm-6">
				<a class="btn btn-secondary col-sm-6" href="/unitform" >Unit&eacute;s</a>
				<br>
				<a class="btn btn-secondary col-sm-6" href="/ingform" >Ingredients</a>
				<br>
				<a class="btn btn-secondary col-sm-6" href="/buyform" >Achats d'Ingredients</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>